.label {
  font-size: larger;
}

.label:hover {
  /* text-underline-offset: 1; */
  text-decoration: underline;
}

.popup {
  position: fixed;
  row-gap: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popupInner {
  position: relative padding 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
  border: 1px solid;
  border-color: black;
  border-radius: 15px; /* Adjust the value for the desired rounded effect */
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.popupInner .closeBtn {
  position: absolute;

  top: 16px;
  right: 16px;
}
.input {
  width: 90%;
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgba(51, 51, 51, 0.4);
}

.textArea {
  width: 90%;
  min-height: 40px;
  height: 100%;
  border: 1px solid;
  border-color: hsl(0, 0%, 80%);
}

.button {
  width: 90%;
  height: 100%;
  border-radius: 50px;
}

.radioGroup {
  margin-top: 15px;
}

.radioLabel {
  display: block;
  margin-bottom: 5px;
}

.radioInput {
  margin-right: 10px;
}
